.btn1-purple {
    background-color: #6f42c1 ;
    border-color: #6f42c1 ;
    color: white ;
    padding: 1% 2% ;
    margin-top: 5% ;
    font-size: 16px ;
    align-items: center;
}

.btn2 {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    padding: 12px 78px ; /* Ajuste de padding para mejor apariencia */
    font-size: 16px;
    display: block;
    align-items: center;
    margin-top: 4%;
}

.nav-item{
    padding: 6px 6px;
}


.navbar-brand{
    padding:  9px;
}

.btn3{
    color: white;
    background-color: green;
    margin-bottom: 5%;
}

.login-form{

    font-family: "Artifika", serif;
    font-weight: 400;
    font-style: normal;
    
    margin-top: 7%;
    color: #ffe4df;
    text-align: center;

}


  

.login.title{

    padding: 1.5%;
}

.login-user{

    padding: 1.5%;
}

.login-passwd{

    padding: 1.5%;
}

.login-btn{

    font-family: "Artifika", serif;
    font-weight: 400;
    font-style: normal;
}

.login-body{

    background-color: #351111;
}
